{% extends 'base.html' %}

{% block content %}

<div class="card">

    <h1>PIDs</h1>

    <h3>Namespace: {{ namespace.tag }}</h3>

    <table border="1" cellpadding="10">

        <tr>
            <th>PID</th>
            <th>Tag</th>
            <th>Metadata</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>

        {% for pid in pids %}

        <tr>

            <td>{{ pid.pid }}</td>

            <td>{{ pid.tag }}</td>

            <td>{{ pid.metadata }}</td>

            <td>{{ pid.date_created }}</td>

            <td>

                {% if can_update %}

                    <a href="{% url 'pid_edit' namespace.id pid.pid %}">
                        Edit
                    </a> |
                    <a href="{% url 'pid_delete' namespace.id pid.pid %}">
                        Delete
                    </a>

                {% endif %}

            </td>

        </tr>

        {% endfor %}

    </table>
    {% if previous_offset != None %}
    <a href="?offset={{ previous_offset }}">Previous</a>
    {% endif %}
    
    {% if next_offset != None %}
    <a href="?offset={{ next_offset }}">Next</a>
    {% endif %}

</div>

{% endblock %}