{% extends 'base.html' %}

{% block title %}
PID Created
{% endblock %}

{% block content %}

<div class="card">

    <h1>PID Created Successfully</h1>

    <br>

    <table border="1" cellpadding="10">

        <tr>
            <th>PID</th>
            <td>{{ pid.pid }}</td>
        </tr>

        <tr>
            <th>Tag</th>
            <td>{{ pid.tag }}</td>
        </tr>

        <tr>
            <th>URL</th>
            <td>{{ pid.url }}</td>
        </tr>

        <tr>
            <th>Metadata</th>
            <td>{{ pid.metadata }}</td>
        </tr>

        <tr>
            <th>Created</th>
            <td>{{ pid.date_created }}</td>
        </tr>

    </table>

    <br>

    <a href="{% url 'pid_create' %}">
        Create Another PID
    </a>

</div>

{% endblock %}